table{
	background:  #7b90b2;
	color:#260303;
	width: 1250px;
	height: 550px;
	border-radius: 5px;
	 box-shadow: 5px 5px 5px #888888;
	 cursor:pointer;
}

thead tr{
	background: #393939;
	border: 2px solid blue;
}
thead tr:hover{
	background: #145A32;
	border-top-left-radius: 25px;
}
thead tr th{
	text-transform: uppercase;
	color: green;
}
thead tr th:hover{
	color: #d3d3d3;
}

table, td{
	border: 1px solid #a6a6a6;
}
th, td{
	text-align: center;
	padding: 10px;
}
tbody tr:hover{
	background: white;
	color: black;
}